<!-- Header -->
<% include header %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <!-- show any messages that come back -->
            <% if (typeof message !== "undefined" && message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <% if (typeof isSuccess !== "undefined" && isSuccess.length > 0) { %> 
				<div class="alert alert-success" role="alert">
					<%= isSuccess %>
				</div>
			<% } %>
            
            <!-- FORM -->
            <form action="/ads_admin" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Расположение</label>
                    <select class="form-control" id="location" name="location">
                        <option disabled>Вверху</option>
                        <option disabled>Внизу</option>
                        <option>Справа</option>
                        <option>Слева</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Смена рекламных изображений</label>
                    <select class="form-control" id="isSlide" name="isSlide">
                        <option>При перезагрузке страницы</option>
                        <option>Каждые три секунды</option>
                    </select>
                </div>
                <div class="form-group">
                    <p>Рекламные изображения:</p>
                    <% images.forEach(function(img){ %>
                        <% var img_el = '<img src="'+img+'"/>'; %>
                        <%- img_el %>
                    <% })%>
                </div>
                <div class="form-group">
                    <p>Добавить изображение:</p>
                    <input type="file" class="form-control-file" name="file" placeholder="Добавить изображение">
                </div>
                <div class="form-group">
                    <label>Капча</label>
                    <input type="text" class="form-control" name="captcha" required placeholder="Введите указанный на изображении текст" pattern="([a-zA-Z0-9]{4})">
                </div>
                <div class="cap-cap"><%- cap %></div>
                <button type="submit" class="btn btn-warning btn-lg">Сохранить</button>
            </form>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>
