<!-- Header -->
<% include header %>

<link href="/stylesheets/botui.min.css" rel="stylesheet">
<link href="/stylesheets/botui-theme-default.css" rel="stylesheet">
<!-- Main Content -->
<div class="container chat">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <div class="botui-app-container" id="api-bot">
                <bot-ui></bot-ui>
            </div>
        </div>
    </div>
</div>

<hr>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>

<script src="js/convo.js"></script>
    
<!-- Footer -->
<% include footer %>
