<!-- Header -->
<% include header %>
<link href="/stylesheets/style403.css" rel="stylesheet">
<!-- Main Content -->
<div class="div__403">
    <p>403</p>
</div>
<div class="container">
    <div class="row">
    <p>Вы не можете просматривать данную страницу.</p>
        <div class="col-lg-8 col-md-10 mx-auto box">
            <div class="div_pic_403">
            </div>
            <p>Перейти на <a href="/">главную страницу</a>.</p>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>
