<!-- Header -->
<% include header %>
<link href="/stylesheets/style404.css" rel="stylesheet">
<!-- Main Content -->
<div class="div_travolta_404">
    <p>404</p>
</div>
<div class="div_travolta"></div>
<div class="container">
    <div class="row rowww">
        <div class="col-lg-8 col-md-10 mx-auto box">
			<p>Страница не найдена.</p>
            <p>Перейти на <a href="/">главную страницу</a>.</p>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>
