<!-- Header -->
<% include header %>
<link href="/stylesheets/style503.css" rel="stylesheet">
<!-- Main Content -->
<div class="container">
    <div class="row t503text">
    <p>В данный момент на странице ведутся технические работы.</p>
        <div class="col-lg-8 col-md-10 mx-auto box">
            <div class="div_pic_503">
            </div>
            <p>Перейти на <a href="/">главную страницу</a>.</p>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>
