<!-- Header -->
<% include header %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <!-- show any messages that come back with authentication -->
            <% if (typeof hname !== 'undefined' && hname.length > 0) { %>
            <div class="alert alert-success"><%= hname %></div>
            <% } %>
        </div>
    </div>
</div>

    <hr>

    <!-- Footer -->
<% include footer %>