<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">&copy; 2018-2078 Ё-Корп. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
