<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ё-корп - с нами будущее.</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
    <% var slide=false; if (typeof slide_ads !== 'undefined') slide = slide_ads;%>
    <% if (typeof show_ads !== 'undefined' && show_ads && slide) { %>
        <script src="js/ads.js"></script>
    <% } %>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Ё-корп</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <% if(!(typeof showLogout !== 'undefined' && showLogout === 1)) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Регистрация</a>
                    </li>
                <% } %>
                <% if(typeof isAdmin !== 'undefined' && isAdmin === true) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/quests_t0p_t4bl3">Таблица прогресса</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/super_t0p_t4bl3">Супер топ таблица</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/news_f0r_4dm1n">Добавить новость</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/c0n7r9ll_4ll_h1n75">Управление подсказками</a>
                    </li>
                <% } %>
                <% if(typeof showLogout !== 'undefined' && showLogout === 1) { %>
                    <% if (typeof isAdmin !== 'undefined' && isAdmin === false) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/your_page">Личный кабинет</a>
                        </li>
                        <% var mess_stat = "";if (typeof new_mess != 'undefined' && new_mess) mess_stat="chat_nav"%>
                        <li class="nav-item">
                            <% var chat_m = '<a class="nav-link" href="/chat" id="'+mess_stat+'">Чат</a>'; %>
                            <%- chat_m %>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Выйти</a>
                    </li>
                <% } %>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/ads_admin">Аdmin Ads</a>
                </li>
                -->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('images/back.png')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1></h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<% if (typeof isAdmin !== 'undefined' && isAdmin === false && typeof show_ads !== 'undefined' && show_ads === true) { %>
    <!-- Ads container -->
    <% var loc="right"; if (typeof ads_location !== 'undefined') loc = ads_location;%>
    <% var img_el = '<div id="slideshow" style="'+loc+':10px">'; %>
    <%- img_el %>
        <% images.forEach(function(img){ %>
            <div >
                <% var img_el = '<a href="/market"><img src="'+img+'" class="imgAds" style="'+loc+':10px"/></a>'; %>
                <%- img_el %>
            </div>
        <% })%>
    </div>
<% } %>
