<!-- Header -->
<% include header %>

<!-- Post Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <h1><span class="fa fa-check"></span> Управление подсказками</h1>

            <!-- show any messages that come back with authentication -->
            <% if (typeof errMess !== 'undefined' && errMess.length > 0) { %>
                <div class="alert alert-danger"><%= errMess %></div>
            <% } %>
            <% if (typeof goodMess !== 'undefined' && goodMess.length > 0) { %>
                <div class="alert alert-success"><%= goodMess %></div>
            <% } %>
            
            <% if(quests_obj !== 'undefined') { %>
                <form action="/c0n7r9ll_4ll_h1n75" method="post">
                    <table class="table table-hover table-condensed table-bordered">
                        <tbody>
                            <% for(var i in quests_obj) { %>
                                 <tr>
                                    <td><%= i %></td>
                                    <% for(var j in quests_obj[i].hints) { %>
                                        <% var check = quests_obj[i].hints[j].state? "checked" : ""%>
                                        <td><input type="checkbox" name="<%= i %>" value="<%= j%>" <%= check%>> <%= j %><br></td>
                                    <% } %>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label>Капча</label>
                        <input type="text" class="form-control" name="captcha" required placeholder="Введите указанный на изображении текст" pattern="([a-zA-Z0-9]{4})">
                    </div>
                    <div class="cap-cap"><%- cap %></div>
                    <button type="submit" class="btn btn-warning btn-lg">Применить</button>
                </form>
            <% } %>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>