<!-- Header -->
<% include header %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <% data.forEach(function(row){ %>
                <% if(news[row.news_name] && news[row.news_name] !== -1) { %>
                    <div class="post-preview">
                    <% var p_name = '<a href="'+row.news_name+'">'; %>
                    <%- p_name %>
                    <%- row.news_prev %>
                <% }%>
            <% })%>
        </div>
    </div>
</div>

<hr>
<!-- Footer -->
<% include footer %>
