<!-- Header -->
<% include header %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <h1><span class="fa fa-sign-in"></span> Войти</h1>

            <!-- show any messages that come back with authentication -->
            <% if (typeof message !== "undefined" && message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Логин</label>
                    <input type="text" class="form-control" name="username" required title="Латинские буквы в нижнем регистре и цифры, от 4 до 20 символов" placeholder="Введите ваше имя" pattern="([a-z0-9]{4,20})" autocomplete="username">
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" class="form-control" name="password" required placeholder="Введите пароль" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" autocomplete="current-password">
                </div>
                <div class="form-group">
                    <label>Капча</label>
                    <input type="text" class="form-control" name="captcha" required placeholder="Введите указанный на изображении текст" pattern="([a-zA-Z0-9]{4})">
                </div>
                <div class="cap-cap"><%- cap %></div>
                <button type="submit" class="btn btn-warning btn-lg">Войти</button>
                <div class="form-group">
                    <label>Запомнить меня</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>

            </form>

            <hr>

            <p>Нет аккаунта? <a href="/signup">Регистрация</a></p>
            <p>Перейти на <a href="/">главную страницу</a>.</p>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>
