<!-- Header -->
<% include header %>

<!-- Post Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <h1><span class="fa fa-plus"></span> Добавить новость</h1>

            <!-- show any messages that come back with authentication -->
            <% if (typeof errMess !== 'undefined' && errMess.length > 0) { %>
                <div class="alert alert-danger"><%= errMess %></div>
            <% } %>

            <% if (typeof goodMess !== 'undefined' && goodMess.length > 0) { %>
                <div class="alert alert-success"><%= goodMess %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/news_f0r_4dm1n" method="post">
                <div class="form-group">
                    <label>Имя новости</label>
                    <input type="text" class="form-control" name="newsname" required placeholder="Введите имя новости">
                </div>
                <div class="form-group">
                    <label>Превью новости</label>
                    <textarea type="text" class="form-control" name="newsprev" required >
                         <div class="post-preview">
                             <a href="ВСТАВИТЬ ИМЯ НОВОСТИ">
                          <h2 class="post-title">
                          ВСТАВИТЬ ПРЕВЬЮ НОВОСТИ
                          </h2>
                          <h3 class="post-subtitle">
                              ВТОРУЮ СТРОКУ ПРЕВЬЮ НОВОСТИ
                          </h3>          </a>
                          <p class="post-meta">
                          17 Сентября, 2077</p>
                      </div>
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Текст новости</label>
                    <textarea class="form-control" name="newstext" required placeholder="Введите текст новости">
                        <p>КАКОЙ-ТО ТЕКСТ НОВОСТИ</p>
                        <h2 class="section-heading">ЗАГОЛОВОК</h2>
                        <p>ЕЩЕ ТЕКСТ</p>

                <blockquote class="blockquote">ТИПО ЦИТАТА</blockquote>
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Капча</label>
                    <input type="text" class="form-control" name="captcha" required placeholder="Введите указанный на изображении текст" pattern="([a-zA-Z0-9]{4})">
                </div>
                <div class="cap-cap"><%- cap %></div>
                <button type="submit" class="btn btn-warning btn-lg">Добавить</button>
                <div class="form-group">
                    <label>Отображать для всех</label>
                    <input type="checkbox" class="form-control" name="for_all" value="yes">
                </div>

            </form>

            <hr>

            <p>Нет аккаунта? <a href="/signup">Регистрация</a></p>
            <p>Перейти на <a href="/">главную страницу</a>.</p>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>