<!-- Header -->
<% include header %>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto box">
                <%- data[0].news_text %>
            </div>
        </div>
    </div>
</article>

<script data-isso="//comments.yo-corp.ru/"
        src="//comments.yo-corp.ru/js/embed.min.js"></script>

<section id="isso-thread"></section>

<hr>

<!-- Footer -->
<% include footer %>