<!-- Header -->
<% include header %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto box">
            <% if (typeof message !== "undefined" && message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
        
			<% if (isSuccess) { %>
				<div class="alert alert-success" role="alert">
					Кредит успешно выдан и скоро должен быть включен в блокчейн. Проверьте ваш баланс спустя некоторое время.
				</div>
			<% } %>

			<% if (isError) { %>
				<div class="alert alert-danger" role="alert">
					Ошибка выдачи кредита. Проверьте пароль и корректность вашего кошелька.
				</div>
			<% } %>

            <h1><span class="fa fa-money"></span> Баланс</h1>
			<% if (balances) { %>
				<p><strong><%= uname %></strong>, ваша текущая задолженность для адреса <%= address %>: <strong><%= (balances.owed / 100).toFixed(2) %></strong> ё-токенов, ваш баланс: <strong><%= (balances.balance / 100).toFixed(2) %></strong> ё-токенов.</p>
			<% } else { %>
				<p><strong><%= uname %></strong>, ваш текущий баланс: 0 ё-токенов.</p>
			<% } %>
            <h4>Получить кредит</h4>
            <p>Для того, чтобы мы могли подтвердить вашу личность, вы должны предоставить файл вашего кошелька. Если вы еще не создали ваш кошелек, вы можете сделать это на <a href="https://wallet.yo-corp.ru">нашем сайте</a>. Ваш максимальный кредитный лимит ограничен 10000.00 ё-токенов.</p>
            <!-- LOGIN FORM -->
            <form action="/loan" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Файл кошелька (json)</label>
                    <input type="file" class="form-control" name="wallet" required placeholder="Загрузите кошелек">
                </div>
                <div class="form-group">
                    <label>Пароль к кошельку</label>
                    <input type="password" class="form-control" name="password" required placeholder="Введите ваш пароль">
                </div>
                <div class="form-group">
                    <label>Сумма (не более 10 000)</label>
                    <input type="text" class="form-control" name="amount" required placeholder="Введите сумму кредита">
                </div>
                <div class="form-group">
                    <label>Капча</label>
                    <input type="text" class="form-control" name="captcha" required placeholder="Введите указанный на изображении текст" pattern="([a-zA-Z0-9]{4})">
                </div>
                <div class="cap-cap"><%- cap %></div>
                <button type="submit" class="btn btn-warning btn-lg">Получить</button>

            </form>

            <hr>

            <p>Перейти на <a href="/">главную страницу</a>.</p>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<% include footer %>
