<!-- Header -->
<% include header %>

<!-- Post Content -->

<div class="container tabl">
    <!-- show any messages that come back with SQL -->
   <% if (typeof errMess !== 'undefined' && errMess.length > 0) { %>
        <div class="alert alert-danger"><%= errMess %></div>
    <% } %>

    <h2>Прогресс пользователей</h2>
    <div class="table-responsive">
        <table class="table table-hover table-condensed table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>username</th>
                <% for(var i = 1; i <= quests_numb; i++){ %>
                    <th>№<%- i %></th>
                <% }%>
                <th>docker id</th>
                <th>filename4</th>
                <th>filename5</th>
            </tr>
            </thead>

            <tbody>
            <% if (data && data.length > 0) { %>
                <% data.forEach(function(row){ %>
                <% var quests_ = JSON.parse(row.quests_news).quests; %>
                    <tr>
                        <td><%= row.id %></td>
                        <td><%= row.username %></td>
                        <% for(var i in quests_){ %>
                            <% var q = quests_[i].current_progress === quests_[i].progress_max? '<td class="success">' : '<td class="danger">' %>
                            <%- q %>
                            <%= quests_[i].current_progress.toString() + "/" + quests_[i].progress_max.toString() %>
                        <% }%>
                        </td>
                        <td><%= row.dockerID%></td>
                        <td><%= row.filename4%></td>
                        <td><%= row.filename5%></td>
                    </tr>
                <% })%>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<hr>

<!-- Footer -->
<% include footer %>
