<!-- Header -->
<% include header %>

<!-- Post Content -->

<div class="container tabl">
    <!-- show any messages that come back with SQL -->
   <% if (typeof errMess !== 'undefined' && errMess.length > 0) { %>
        <div class="alert alert-danger"><%= errMess %></div>
    <% } %>

    <h2>Настоящий прогресс пользователей</h2>
    <div class="table-responsive">
        <table class="table table-hover table-condensed table-bordered">
            <thead>
            <tr>
                <th>username</th>
                <th>quests finished</th>
                <th>points</th>
                <th>time</th>
            </tr>
            </thead>

            <tbody>
            <% if (data && data.length > 0) { %>
                <% data.forEach(function(row){ %>
                    <tr>
                        <td><%= row.username %></td>
                        <td><%= row.quests_numb %></td>
                        <td><%= row.points%></td>
                        <td><%= row.datetime%></td>
                    </tr>
                <% })%>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<hr>

<!-- Footer -->
<% include footer %>
