.div_pic_503{background:url(../images/503.gif);background-repeat:no-repeat;background-position:top center;height:375px;}.row{display: inline;}.row>p{font-size: 1.5em;text-align: center;}.t503text{color:#fff}.row>.box{margin-top:0}
