.div_pic_403{background:url(../images/403.gif);background-repeat:no-repeat;background-position:top center;height:375px;}.row{display: inline;}.row>p{font-size:1.5em;text-align:center;color:#c1c1c1;}.div__403 > p{position:absolute;height:532px;top:55px;margin-left:auto;margin-right:auto;left:0;right:0;text-align:center;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:25em;font-weight:700;margin-top:-150px;letter-spacing:50px;opacity:.6}.div__403{color:#c1c1c1;}.row>.box{margin-top:0}
