.div_travolta{background:url(../images/404.gif);position:absolute;background-repeat:no-repeat;background-position:top center;height:532px;top:55px;margin-left:auto;margin-right:auto;left:0;right:0}.div_travolta_404 > p{position:absolute;height:532px;top:55px;margin-left:auto;margin-right:auto;left:0;right:0;text-align:center;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:25em;font-weight:700;margin-top:-150px;letter-spacing:50px;opacity:.6;color: #c1c1c1;}.container>.rowww{margin-top: 170px;margin-bottom: 200px;}
