body {
    background: linear-gradient(#16244d, #16244d, #fff);
    font-size: 20px;
    color: #333;
    font-family: Lora, 'Times New Roman', serif
}

p {
    line-height: 1.5;
    margin: 15px 0
}

p a {
    text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

a {
    color: #333;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

a:focus,
a:hover {
    color: #1b2644
}

a img:focus,
a img:hover {
    cursor: zoom-in
}

blockquote {
    font-style: italic;
    color: #777
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 20px
}

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

::-moz-selection {
    color: #000;
    background: #1b2644;
    text-shadow: none
}

::selection {
    color: #000;
    background: #1b2644;
    text-shadow: none
}

img::selection {
    color: #000;
    background: 0 0
}

img::-moz-selection {
    color: #000;
    background: 0 0
}

body {
    -webkit-tap-highlight-color: #1b2644
}

#mainNav {
    position: absolute;
    background-color: #000;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #e6e6e6
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #e8ecf9
}

#mainNav .navbar-nav>li.nav-item>a {
    color: #989ab1;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase
}

@media only screen and (min-width:992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: 0 0
    }
    #mainNav .navbar-brand {
        padding: 15px 20px;
        color: #000
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: rgba(100, 100, 100, .8)
    }
    #mainNav .navbar-nav>li.nav-item>a {
        padding: 15px 20px;
        color: #000
    }
    #mainNav .navbar-nav>li.nav-item>a:focus,
    #mainNav .navbar-nav>li .nav-item>a:hover {
        color: rgba(100, 100, 100, .8)
    }
}

@media only screen and (min-width:1170px) {
    #mainNav {
        -webkit-transition: background-color .2s;
        -moz-transition: background-color .2s;
        transition: background-color .2s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden
    }
    #mainNav.is-fixed {
        position: fixed;
        top: -77px;
        -webkit-transition: -webkit-transform .2s;
        -moz-transition: -moz-transform .2s;
        transition: transform .2s;
        border-bottom: 1px solid #000;
        background-color: rgba(100, 100, 100, .9)
    }
    #mainNav.is-fixed .navbar-brand {
        color: #ccc
    }
    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
        color: #1b2644
    }
    #mainNav.is-fixed .navbar-nav>li.nav-item>a {
        color: #ccc
    }
    #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
    #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
        color: #1b2644
    }
    #mainNav.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

header.masthead {
    margin-bottom: 50px;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: #000
}

@media only screen and (min-width:768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0
    }
}

header.masthead .page-heading,
header.masthead .site-heading {
    color: #000;
    text-align: center
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media only screen and (min-width:768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px
    }
}

header.masthead .post-heading h1 {
    font-size: 35px
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Lora, 'Times New Roman', serif
}

header.masthead .post-heading .meta a {
    color: #000
}

@media only screen and (min-width:768px) {
    header.masthead .post-heading h1 {
        font-size: 55px
    }
    header.masthead .post-heading .subheading {
        font-size: 30px
    }
}

.post-preview>a {
    color: #000
}

.post-preview>a:focus,
.post-preview>a:hover {
    text-decoration: none;
    color: #16244d
}

.post-preview>a> .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px
}

.post-preview>a>.post-subtitle {
    color: #333;
    font-weight: 300;
    margin: 0 0 10px
}

.post-preview> .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #777;
    text-align: right
}

.post-preview> .post-meta>a {
    text-decoration: none;
    color: #ccc
}

.post-preview> .post-meta>a:focus,
.post-preview> .post-meta>a:hover {
    text-decoration: underline;
    color: #269491
}

@media only screen and (min-width:768px) {
    .post-preview>a> .post-title {
        font-size: 25px
    }
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important;
    font-family: Lora, 'Times New Roman', serif
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
    color: #777;
    font-family: Lora, 'Times New Roman', serif
}

.floating-label-form-group label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0
}

.floating-label-form-group .help-block {
    margin: 15px 0
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #1b2644
}

form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid #eee
}

footer {
    padding-bottom: 15px
}

footer .list-inline {
    margin: 0;
    padding: 0
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0
}

.btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.btn-primary {
    color: #000;
    border-color: #1b2644;
    background-color: #1b2644
}

.btn-primary.focus,
.btn-primary:focus {
    color: #000;
    border-color: #16244d;
    background-color: #1d2e60
}

.btn-primary:hover {
    color: #000;
    border-color: #005264;
    background-color: #1d2e60
}

.btn-primary.active,
.btn-primary:active,
.open> .btn-primary.dropdown-toggle {
    color: #000;
    border-color: #005264;
    background-color: #1d2e60
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
    color: #000;
    border-color: #16244d;
    background-color: #1f2f60
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #1b2644;
    background-color: #1b2644
}

.btn-primary .badge {
    color: #1b2644;
    background-color: #000
}

.btn-lg {
    font-size: 16px;
    padding: 10px 39px
}

.btn-default:focus,
.btn-default:hover {
    color: #000;
    border: 1px solid #1b2644;
    background-color: #1b2644
}

hr {
    background: #222;
    background-color: #68718b;
    border-top: 1px solid #68718b
}

.form-group > input[type="checkbox"].form-control {
    width: 1em;
    display: inline-block
}

.form-control:focus {
    box-shadow: none
}

.cap-cap {
    width: 145px;
    display: initial
}

.btn-warning {
    float: right;
    height: 50px;
    background-color: #16244d;
    border-color: #16244d;
    color: #abb4d1
}

.btn-warning:hover {
    color: #939fc1;
    background-color: #2a3860;
    border-color: #2a3860
}

.btn-warning.focus,
.btn-warning:focus {
    box-shadow: none
}

.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
    color: #111;
    background-color: #546599;
    border-color: #546599;
    box-shadow: none
}

.page-header > .btn {
    color: #111;
    background-color: #546599;
    border-color: #122868
}

.page-header > .btn:hover {
    color: #eee;
    background-color: #16244d
}

table.table td.success {
    background-color: #c3ecb2
}

table.table td.danger {
    background-color: #efbaba
}

.table-responsive {
    font-size: 14px
}

.human-avatar {
    background: url(../images/user_avatar.png);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-size: cover
}

.bot-avatar {
    background: url(../images/user_avatar.png);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-size: cover
}

.bot-avatar.boss {
    background: url(../images/boss_avatar.png);
    background-size: cover
}

.bot-avatar.elephant {
    background: url(../images/elephant_avatar.png);
    background-size: cover
}

.form-group>img {
    margin-right: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 300px
}

#slideshow {
    position: absolute;
    right: 10px;
    margin-top: -50px;
    margin-right: 10px;
    width: 15%
}

.imgAds {
    object-fit: contain;
    width: 100%;
    max-height: 500px
}

.container.chat {
    min-height: 390px
}

.box {
    width: 100%;
    height: 100%;
    opacity: .95;
    background-color: #fff;
    margin-top: -50px
}

@media only screen and (min-width:768px) {
    .post-preview>a> .post-subtitle {
        font-size: 20px
    }
}

#chat_nav:after {
    content: '\f0e0';
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0 5px;
    text-decoration: none
}

.post-preview > a > img {
    width: 190px;
    height: 150px
}

.post-title {
    margin-left: 120px
}

.post-preview {
    min-height: 197px
}
.tabl{color: white;text-shadow: 1px 1px 2px black, 0px 0px 2em white;}
tr > .success, tr > .danger{color: black;
text-shadow: 1px 1px 2px white, 0 0 1em white;}